.navbar-brand{
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.navbar-text {
    color: gray;
    font-size: 1rem;

}

@media (max-width: 1200px) {
    .navbar-brand{
        margin-bottom: -15px;
    }
    .navbar-text{
        padding-top: 0rem;
        margin-bottom: 10px;
    }
}

h4 {
    color: white;
}

#se_text {
    color: white;
}