/*
.container-fluid{
    width: 70%;
    position: center;
    background:  inherit;
}
.spacer{
    height: 30px;
}

@media (max-width: 576px) {
    .container-fluid{
        width: 100%;
    }
    #spacer{
        visibility: hidden;
    }
}
*/

#show {
    background-color: inherit;

}